<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
<%# policy(@restaurant).edit? testar a instância e o usuário dentro do policy para verificar se apresenta o button ou não %>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) if policy(@restaurant).edit? %> |
  <%= link_to "Back to restaurants", restaurants_path %>
<%# policy(@restaurant).edit? testar a instância e o usuário dentro do policy para verificar se apresenta o button ou não %>
  <%= button_to "Destroy this restaurant", @restaurant, method: :delete if policy(@restaurant).destroy? %>
</div>
